.details-container {
    /* display: flex; */
    border: 2px solid var(--primary-color);
    margin: 2em;
    padding: 2em;
    border-radius: 4px;
    /* flex-direction: column; */
    text-align: left;
}

.details {
    display: flex;
}

.details-content {
    flex: 1 1 400px;
}

.order {
    display: flex;
    border-top: 1px solid var(--primary-color);
    padding-top: 1em;
    margin-top: 1em;
}

.extras-tag {
    display: inline;
    flex-direction: row;
    padding: 0.2em 1em;
    margin-bottom: 0.3em;
    margin-right: 0.1em;
    border-radius: 18px;
    background: #d0d2ff;
    color: var(--background-color-page);
    width: max-content;
}

.delete-tag {
    background-color: unset;
    cursor: pointer;
    padding: 0.2em 0.2em;
    border: unset;
    margin-left: 4px;
    color: var(--background-color-page);
}

.delete-tag:hover {
    background: none;
}

.extras {
    margin-bottom: 1em;
}

.order-form {
    margin-left: 1.5em;
    text-align: center;
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-button {
    margin-right: 0.7em;
    margin-top: 0.5em;
}